@font-face {
    font-family: Gilroy;
    src: url('resources/fonts/Gilroy/Gilroy-Light.otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: Gilroy;
    src: url('resources/fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Gilroy;
    src: url('resources/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: Gilroy;
    src: url('resources/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: Gilroy;
    src: url('resources/fonts/Gilroy/Gilroy-ExtraBold.otf') format('opentype');
    font-weight: 800;
}

@font-face {
    font-family: Gilroy;
    src: url('resources/fonts/Gilroy/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: Druk;
    src: url('resources/fonts/druk/Druk\ Text\ Wide\ Web\ Medium\ Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: Druk;
    src: url('resources/fonts/druk/Druk\ Text\ Wide\ Cy\ Web\ Bold\ Regular.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: Druk;
    src: url('resources/fonts/druk/DrukTextWideCyTTBold.ttf') format('truetype');
    font-style: italic, oblique;
    font-weight: 600;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: Gilroy;
    color: white;
    background-color: #000;
    background-image: url(/assets/icons/bg-lg.png);
    height: 100vh;
    background-size: 25% 100%;
}

/* white bg */

body.white-bg {
    background-color: white;
    color: black;
}

body.white-bg a {
    color: black;
}

.menu {
    display: flex;
    text-transform: uppercase;
}

.menu-container {
    width: 75%;
}

.menu-container a {
    font-family: Druk;
    font-size: 1.3rem;
}

.logo-container {
    width: 25%;
    height: 22px;
    display: inline-block;
}

.logo-container img {
    margin-left: 50px;
    margin-top: 15px;
}

.menu-container div {
    width: 33%;
    height: 54px;
    float: left;
    padding-top: 22px;
    box-sizing: border-box;
}

.menu-container .contact-container {
    width: 28%;
    padding-left: .8%;
}

.menu-container .cont-icons {
    width: 5%;
}

.menu-container .info-container {
    padding-left: .4%;
}

.social-container a {
    text-decoration: none;
    font-family: Druk;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 1.3rem;
}

.social-container {
    margin-top: 80rem;
}

.insta {
    float: right;
    margin-right: 4rem;
}

.fb {
    margin-left: 4rem;
}

/*----footer----*/

body.plain-bg {
    background-image: none;
    background-color: white;
}

.info-container .col {
    padding-left: 15px;
    padding-right: 15px;
}

.info-container .col:first-child {
    padding-left: 0px;
    padding-right: 15px;
}

.info-container .col:last-child {
    padding-left: 15px;
    padding-right: 0px;
}

footer {
    padding: 2.4rem 1.6rem;
    z-index: 9;
    background-color: black;
}

.container-fluid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
}

h6 {
    font-size: 1.6rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-bottom: 8px;
}

footer a {
    font-size: 1.6rem;
    font-weight: 200;
    text-decoration: none;
    color: #d7d7d7;
    display: block
}

footer p {
    font-size: 1.5rem;
    color: #d7d7d7;
    line-height: 1.2;
    margin-bottom: 1.8rem;
}

footer form.subscribe input[type="email"] {
    color: #fff;
}

footer input[type="email"] {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #595959;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-left: 10px;
}

select.form-control.default, .form-control {
    height: 4rem !important;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    color: #545454;
    font-size: 1.4rem;
    background-color: #fff;
}

.form-control {
    display: block;
    width: 100%;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input, textarea, select {
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}


footer .btn.btn-primary {
    background: #fff;
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    height: 4rem;
    margin-top: 0.6rem;
    line-height: 1;
    border: 1px solid #fff;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s;
    padding: 0 3.7rem;
    outline: none;
}


nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .mainMenu {
    display: flex;
    align-items: flex-end;
    list-style: none;
}

nav .mobileMainMenu {
    display: none;
    align-items: flex-end;
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    flex-direction: column;
    /* justify-content: center;
    align-items: flex-end; */
    background: #ffffff;
    transition: transform .5s ease;
}

.navlinkmobil-submenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all .5s;
    max-height: 0;
    overflow: hidden;
}

.navlinkmobil-submenu a {
    margin-right: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: large;
    font-weight: bolder;
}

.navlinkmobil-submenu a:first-of-type {
    margin-top: 20px;
}

.navlinkmobil-submenu a:last-of-type {
    margin-bottom: 20px;
}

.mobilMenuIcons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mobilMenuIcons img {
    height: 14px;
    width: 14px;
    display: block;
}

.usermobilMenu {
    margin-right: 20px;
}

.shopingBagmobilMenu {
    margin-right: 20px;
}

.navlink {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .mainMenu .navlink a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}

nav .mainMenu a:hover {
    letter-spacing: normal;
}

nav .openMenu {
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .openMenu img {
    display: block;
}

nav .mainMenu .closeMenu, .icons i {
    display: none;
    cursor: pointer;
}

.mobilIcons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
}

.mobilIcons i {
    margin: 10px 10px 20px 10px;
    font-size: 30px;
}

.fa-facebook:hover {
    color: rgb(0, 110, 255);
}

.fa-instagram:hover {
    color: rgb(255, 0, 191);
}

nav .logo {
    margin: 20px;
    font-size: 25px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    body {
        background-image: url(/assets/icons/bg-sm.png);
        background-size: 100% 100%;
    }
    .header-container {
        display: none;
    }
    .social-container {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .container-fluid {
        padding: 2.4rem 0 9.2rem 0;
        display: block;
        box-sizing: border-box;
    }
    .info-container .col:first-child {
        padding-left: 15px;
    }
    footer a, h6, footer p {
        font-size: 1.8rem;
    }
    footer a {
        line-height: 2.8rem;
    }
    footer {
        padding: 2em;
    }
    form{
        margin-right: 1em;
    }
    .faq, .about, .news{
        padding-top: inherit;
    }
}

@media(max-width: 767px) {
    .closeMenuNavBar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logoinWmenu {
        margin: 20px;
    }
    nav .logo {
        color: #000;
        margin: 20px;
        font-size: 25px;
        cursor: pointer;
    }
    nav .mainMenu {
        display: none;
    }
    nav .mobileMainMenu {
        transform: translateX();
    }
    nav .closeMenuNavBar {
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navlink {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    nav .mainMenu .navlink a {
        color: #000;
        font-weight: bolder;
        font-size: xx-large;
        transition: .321s;
    }
    .navlinkmobil {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-grow: 1;
        margin-top: 10px;
    }
    .navlinkmobil a:not(:first-of-type) {
        margin-top: 20px;
    }
    .navlinkmobil .navlinkmobil-a {
        margin-right: 20px;
        text-decoration: none;
        color: #000;
        font-weight: bolder;
        font-size: 45px;
        transition: .321s;
    }
    .navlinkmobil .navlinkmobil-a:hover {
        letter-spacing: 5px;
    }
    .closeMenu {
        margin: 20px;
    }
    nav .mainMenu .closeMenu {
        margin: 20px;
    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu a:hover {
        background: none;
        letter-spacing: 5px;
    }
    .icon {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}

@media screen and (max-width: 812px) and (min-width: 768px){
    .menu-container .contact-container {
        width: 24%;
        
    }
    
    .menu-container .cont-icons {
        width: 9%;
    }
}