* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main-background: #ffffff;
  --footer-background: #000000;
  --black-text: #000000;
  --dark-text-hover: #dddddd;
  --white-text: #ffffff;
}

@font-face {
  font-family: "Druk Text Wide Web";
  src: local("Druk Text Wide Web") format("woff2");
}

@font-face {
  font-family: "Druk Wide Cy Web";
  src: local("Druk Wide Cy Web") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy") format("woff2");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold") format("woff2");
}

/*--- HEADER ---*/

.sub-header {
  position: fixed;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  height: 10vh;
  width: 100vw;
  padding-top: 1rem;
  background-color: var(--main-background);
}

.logo {
  grid-column: 1/2;
  justify-self: center;
}

.logo a {
  text-decoration: none;
  color: var(--black-text);
}

nav {
  grid-column: 2/3;
  justify-self: center;
}

nav ul li {
  display: inline;
  padding-left: 5rem;
  padding-right: 5rem;
}

nav ul li a {
  font-family: "Druk Text Wide Web";
  text-transform: uppercase;
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--black-text);
  transition: 0.1s;
}

nav ul li a:hover {
  text-decoration: none;
  color: var(--dark-text-hover);
  transition: 0.1s;
}

.header-icons {
  grid-column: 3/4;
  justify-self: center;
}

/*--- FULL PAGE LAYOUT ---*/

.page {
  display: grid;
  grid-template-columns: 15vw 1fr 15vw;
  padding-top: 11vh;
}

.sidebar-left,
.sidebar-right {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 15vw;
  top: 10vh;
  height: 90vh;
  text-align: center;
}

.sidebar-right {
  right: 0;
}

#instagram,
#facebook {
  font-family: "Druk Text Wide Web";
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 5vh;
  text-decoration: none;
  color: var(--black-text);
}

/*--- MAIN SECTION LAYOUT ---*/

.main {
  grid-column: 2/3;
  border: 1px solid #000000;
}

.section-one,
.section-two {
  height: 90vh;
}

.section-content h3 {
  font-family: "Druk Wide Cy Web";
  font-size: 3.125rem;
  text-transform: uppercase;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.section-content p {
  font-family: "Gilroy";
  font-size: 1.125rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sub-button,
.submit-btn {
  font-family: "Gilroy-Bold";
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--white-text);
  background-color: var(--footer-background);
  padding: 0.6rem;
  padding-bottom: 0.45rem;
  border-radius: 7px;
  letter-spacing: 1.4px;
  line-height: 20px;
  outline: none;
  border: none;
  transition: 0.3s;
  min-width: 5rem;
}

.sub-button:hover,
.submit-btn:hover {
  color: var(--black-text);
  background-color: var(--dark-text-hover);
}

.phone,
.phone2 {
  justify-self: center;
  align-self: center;
}

.phone {
  grid-column: 2/3;
  grid-row: 1;
  margin-right: 8rem;
}

.phone2 {
  border: 1px solid black;
  border-radius: 20px;
  width: 12rem;
  height: 23rem;
}

video {
  border: 15px solid black;
  border-radius: 32px;
  /*width: 315px;
  height: 606px; */
  width: 236.25px;
  height: 454.5px;
  box-shadow: rgb(204, 204, 204) 3px 3px 5px 6px;
  background-color: black;
}

#small-phone {
  width: 220.5px;
  height: 424.2px;
}

.neon {
  box-shadow: 20px 20px 30px 10px #5c5a90;
}
.neon2 {
  box-shadow: #5c5a90 0px 0px 10px 2px, rgb(255, 255, 255) 40px -30px 0px -3px,
    #5c5a90 40px -30px 10px, rgb(255, 255, 255) 80px -60px 0px -3px,
    #5c5a90 80px -60px 10px, rgb(255, 255, 255) 120px -90px 0px -3px,
    #5c5a90 120px -90px 10px, rgb(255, 255, 255) 160px -60px 0px -3px,
    #5c5a90 160px -60px 10px, rgb(255, 255, 255) 200px -30px 0px -3px,
    #5c5a90 200px -30px 10px;
}
.neon3 {
  box-shadow: rgba(92, 90, 144, 0.4) 5px 5px, rgba(92, 90, 144, 0.3) 10px 10px,
    rgba(92, 90, 144, 0.2) 15px 15px, rgba(92, 90, 144, 0.1) 20px 20px,
    rgba(92, 90, 144, 0.05) 25px 25px;
}

/*--- SECTION ONE ---*/

.section-one {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 30%;
  grid-template-rows: 1fr;
}

.section-one .section-content {
  grid-column: 1/2;
  grid-row: 1;
  margin: 3rem;
  justify-self: center;
  align-self: center;
}

.read-more-link {
  grid-row: 1;
  grid-column: 1/3;
  justify-self: center;
  align-self: end;
  margin-bottom: 5vh;

  font-family: "Druk Text Wide Web";
  text-transform: uppercase;
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--black-text);
}

/*--- SECTION TWO & SECTION FOUR ---*/

.section-two,
.section-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-two .section-content,
.section-four .section-content {
  text-align: center;
  width: 60%;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 6rem;
}

.section-two .section-content {
  margin-bottom: 6rem;
}

.shops {
  text-align: left;
  margin-left: 3rem;
  margin-right: 3rem;
}

.shops h3 {
  font-family: "Druk Wide Cy Web";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.shop-images {
  display: flex;
  flex-direction: row;
}

.influencer-image {
  border: 1px solid black;
  border-radius: 100px;
  width: 7rem;
  height: 7rem;
  margin-top: 1.5rem;
  margin-right: 1rem;
}

/*--- SECTION THREE ---*/

.section-three {
  height: 80vh;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr;
}

.section-three .section-content {
  grid-column: 2/3;
  margin: 3rem;
  justify-self: center;
  align-self: center;
}

.phone2 {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 4rem;
}

/*--- SECTION FOUR ---*/
.section-four {
  height: 80vh;
}

.section-four .section-content {
  margin-bottom: 1rem;
}

.form {
  width: 36rem;
  display: flex;
  flex-direction: column;
}

.form-group input {
  width: 17.6rem;
  height: 2.4rem;
  padding: 0.3rem;
  outline: none;
}

.form-group input,
.form-textarea textarea {
  font-family: "Gilroy";
  font-size: 1rem;
  border: 1px solid #c4c4c4;
}

.form-group,
.form-textarea {
  margin-bottom: 1rem;
}

.form-textarea textarea {
  padding: 0.3rem;
  outline: none;
  width: 100%;
}

#name {
  margin-right: 0.5rem;
}

#website {
  margin-right: 0.5rem;
}

.form .submit-btn {
  width: 3.5rem;
}

/*--- FOOTER ---*/

footer {
  grid-column: 1/4;
  height: 50vh;
  width: 100%;
  background-color: var(--footer-background);
  z-index: 10;
  margin: 50px auto auto auto;
}

/* Media Query */

@media screen and (max-width: 1024px) {
  .sub-header {
    grid-template-columns: 15% 1fr 15%;
    width: 100%;
  }

  nav {
    display: none;
  }

  .page {
    grid-template-columns: 1fr;
  }

  .main {
    border: none;
    grid-column: 1/2;
  }

  .sidebar-left,
  .sidebar-right {
    display: none;
  }

  footer {
    width: 100%;
    grid-column: 1/2;
  }
}

@media screen and (max-width: 768px) {
  .read-more-link {
    display: none;
  }

  .section-two .section-content,
  .section-four .section-content,
  .section-one .section-content {
    text-align: left;
    width: 80%;
    margin-left: 0;
    padding-left: 0;
    justify-content: left;
  }

  .section-four {
    align-items: flex-start;
    margin-left: 3rem;
  }

  .section-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section-one .section-content {
    margin-left: 3rem;
  }

  .phone {
    margin-right: 3rem;
  }

  #small-phone {
    width: 236.25px;
    height: 454.5px;
  }

  .section-one p,
  .section-two p,
  .section-three p,
  .section-four p {
    font-size: 1.2rem;
  }

  .section-four .section-content {
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 481px) {
  .section-content {
    padding: 1.3rem;
  }

  .shop-images {
    flex-wrap: wrap;
  }

  .section-two .section-content {
    margin-bottom: 1rem;
  }
}
